
<app-header (toggleSideBarForMe)="sideBarToggler()" ></app-header>




<mat-drawer-container>
  <mat-drawer class="bar" mode="side" [opened]=sideBarOpen>
    <mat-nav-list >
      <h2 matSubheader>Opciones</h2>
      <mat-divider></mat-divider>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/main"><mat-icon>bar_chart </mat-icon> Inicio</a>
      <mat-divider></mat-divider>

    </mat-nav-list>
  </mat-drawer>

<mat-drawer-content>
  <div class="container">
      <h1>Bienvenido </h1> 
      <mat-grid-list cols="1" rowHeight="320px" gutterSize="25px">
        <mat-grid-tile>
          <mat-card class="dashboard-card">
            <mat-card-header>
              <mat-card-title>Prediccion de Prestamos </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div class="example-container">
                <form clas="example-form" [formGroup]="predictform">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Monto de Deuda</mat-label>
                  <input type="text" formControlName="primer" matInput>
                  <span matPrefix>$&nbsp;</span>
                  
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Historial Crediticio</mat-label>
                  <mat-select formControlName="second" name="payment"   >
                    <mat-option  [value]="'1'" >
                      Si
                    </mat-option>
                    <mat-option  [value]="'0'" >
                      No
                    </mat-option>
                  </mat-select>
                </mat-form-field> 
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Numero de Propiedades</mat-label>
                  <input type="text" formControlName="third" matInput>
                </mat-form-field> 
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Cantidad de Multas</mat-label>
                  <input type="text" formControlName="fourth" matInput>
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Nivel de Gravedad de Multa</mat-label>
                  <input type="text" formControlName="fifth" matInput>
                </mat-form-field> 
              </form>
              <button mat-button class="inline" color="primary" (click) = ConsultGet() >Mostrar Resultados</button> 
              <button mat-button class="inline" color="primary"  (click)=predictResult() >Calcular</button>
              
              </div>
            </mat-card-content>
          </mat-card>
          
        </mat-grid-tile>


      </mat-grid-list>
  </div>
  <!--Tabla de muestra-->
  <div *ngIf = "isShow" class="container">
    <mat-grid-list cols="1" rowHeight="600px"  gutterSize="25px">
      <mat-grid-tile >
        <mat-card class="dashboard-card2">
          <mat-card-header>
            <mat-card-title>Resultados </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="example-container">
              <table *ngFor="let c of consults | slice:0:3; let i=index">
                <tr>
                  <th>Monto de Deuda</th>
                  <th>Historial Crediticio</th> 
                  <th>Numero de Propiedades</th>
                  <th>Cantidad de Multas</th>
                  <th>Nivel de Gravedad de Multa</th>
                  <th>Resultado</th>
                </tr>
                <tr>
                  <td>{{c.loanAmount}}</td>
                  <td>{{c.creditHistory}}</td>
                  <td>{{c.propertyAreaNum}}</td>
                  <td>{{c.cantMultas}}</td>
                  <td>{{c.nivelGravedadNum}}</td>
                  <td>{{c.result == '1' ? 'Procede' : 'No Procede'}}</td>
                </tr>

              </table>
            </div>
          </mat-card-content>
        </mat-card>
        
      </mat-grid-tile>


    </mat-grid-list>
</div>

</mat-drawer-content>



</mat-drawer-container>  
<!--FIN HEAHDER-->





