
:host {
    display: flex;
    flex-direction: column;
    
    height: 100%;
    .mat-icon {
        vertical-align: middle;
        margin-right: 20px;
      }
    
}
mat-drawer {
    width: 350px;
}
mat-drawer-container {
    height: 100%;
    background-color: white;
}

::ng-deep {
// mat-icon-stepper selected color change 
.mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
    background-color: #00546f!important;
}

//input outline color
.mat-form-field-appearance-outline .mat-form-field-outline {
    color: #00546f!important;
    // opacity: 1!important;
}

//mat-input focused color
.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: #00546f!important;
}
.mat-form-field-appearance-outline .mat-form-field-outline {
    color: #00546f;
 }
 
.mat-hint, input, ::placeholder, .mat-form-field-label {
       color: #00546f;
}
 
.mat-form-field-ripple {
    background-color: #027D7C !important;
}
// mat-input error outline color
 .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick{
    color: #00546f!important;
    opacity: 0.8!important;
}

// mat-input carent color
 .mat-input-element {
    caret-color: #00546fed!important;
}

// mat-input error carent color
 .mat-form-field-invalid .mat-input-element, .mat-warn .mat-input-element {
    caret-color: #00546f!important;
}

// mat-label normal state style
 .mat-form-field-label {
    color: rgba(0,0,0,.6)!important;
    // color: $mainColor!important;
}

// mat-label focused style
 .mat-form-field.mat-focused .mat-form-field-label {
    color: #00546f!important;
}

// mat-label error style
 .mat-form-field.mat-form-field-invalid .mat-form-field-label {
    color: #00546f!important;
}
 }
.bar {
    background-color: #23282a;
}
.bar a {
    color: white;
}
.bar h2 {
    color: white;
}
.mat-form-field {
    align-items: flex-start;
    margin-left: 8px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  
}
.example-full-width {
    width: 25%;
  }

  .mat-button{
    margin-top: 10px;
    width: 15%;
    color: white;
    height: 40px;
    background-color: #00546f;
    margin-left: 650px;
  }  
mat-drawer-content {
    padding: 20px;
    
}
h1 {
    color: black;
    font-family: 'Space Mono', monospace;
}
mat-grid-tile {
    color: black;
    border-color: black;
    border-radius: 5px;
    
}

mat-grid-tile-header {
    color:black;
}
mat-card-title {
    text-align: left;

}
a {
    font-family: 'Space Mono', monospace;
}
h2 {
    font-family: 'Space Mono', monospace;
}
table {
    width: 100%;

    
}
td, th {
    border: 2px solid #00546f;
    text-align: left;
    padding: 8px;
    font: roboto;
  }

